body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.logo-container img {
    display: block;
    margin: 0 auto;
    max-width: 150px;
}

h1, h2 {
    color: #333;
}

.hours {
    background-color: #333;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    width: 50%;
    margin: auto;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #555;
}
